<h1>Burgers Hot and Ready!</h1>

<h2>Place Your Burger Orders Here</h2>

<ul>
    {{#each burgers}}
    {{#unless devoured}}
    {{>burgers/burger-block devoured=true}}
    {{/unless}}
    {{/each}}
</ul>

<h2>Place Another Burger Order!</h2>

<form class="create-form" method="POST" action="/api/burgers">
    <div class="form-group">
        <label for="burgertype"> New Burger: </label> <input type="text" id="burgertype" name="burger">
    </div>

    <div class="form-group">
        <label for="devoured">Was the burger devoured?</label>
        <br>
        <input type="radio" name="devoured" value="1" checked> BURGER DEVOURED!<br>
        <input type="radio" name="devoured" value="0" checked> Burger not eaten!
    </div>

    <button id="burgerplex" type="submit"> Add Your Burger Order</button>

</form>