li {
    padding: 20px;
    margin: 20px;
    background: #ffffff;
  }

li.to-right {
  padding-left: 400px;
}

li.to-right button {
  background: rgb(34, 172, 34);
}
  
  .label {
    font-weight: bold;
    color: rgb(7, 7, 7)
  }
  
  .create-update-form {
    padding: 15px;
    margin: 15px;
    background: aqua;
  }
  
  .form-group {
    margin-bottom: 10px;
  }
body {
background-image:url(../img/burgerpaper.jpg);

}